@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

/* .just {
  font-family: 'Jura', sans-serif;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
} */

:root {
  --color-primary: #eab308;
  --color-primary-hover: #fec71c;
  --color-primary-pressed: #cc9500;

  --color-secondary: #2581eb;
  --color-secondary-hover: #439fff;
  --color-secondary-pressed: #0763cd;

  --color-menu: #ffdd55;
  --color-title: #1e1e1e;
  --color-text-active: #1f2937;
  --color-text-caption: #1f2937;

  --color-white: #ffffff;
  --color-black: #1a1a1a;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0 1rem;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  line-height: 20px;
  letter-spacing: 0.08px;
  font-weight: 400;
}

.title {
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  font-size: 92px;
  color: var(--color-title);
}

/* .text {
  font-size: 20px;
} */

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.6em 1.5em;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--primary:hover {
  background-color: var(--color-primary-hover);
}
.btn--primary:active {
  background-color: var(--color-primary-pressed);
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.btn--secondary:hover {
  background-color: var(--color-secondary-hover);
}
.btn--secondary:active {
  background-color: var(--color-secondary-pressed);
}

.icon-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.icon-btn--cart {
  border: none;
}
.icon-btn--cart:hover {
  background-color: var(--color-secondary);
}
.icon-btn--cart:active {
  background-color: var(--color-secondary-pressede);
}
.icon-btn--menu {
  border: 1px solid var(--color-menu);
}
.icon-btn--menu:hover {
  background-color: var(--color-menu);
}
.icon-btn--menu:active {
  border: 1px solid var(--color-menu);
  background-color: var(--color-primary);
}

.link-hover {
  color: var(--color-text-active);
  transition: color 0.2s ease;
}
.link-hover:hover,
.link-hover:active {
  color: var(--color-secondary);
}

/* >= 960px (Tablet and up) */
@media (min-width: 960px) {
  .title {
    font-size: 152px;
    line-height: 80%;
    letter-spacing: 0;
  }

  .container {
    padding: 2rem;
  }
}

/* >= 1280px (Desktop and up) */
@media (min-width: 1280px) {
  .title {
    font-size: 152px;
    line-height: 100%;
  }

  .container {
    padding: 3rem;
  }
}
